<!doctype html>
<html lang="en">

<head>
    <title>Consulta de Pedido y Productos</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vinculando CSS -->
<link rel="stylesheet" href="./css/estilo_pedidos.css">

</head>

<body>
    <header id="header-nav"></header>
    
    <main class="container">

        <div id="datos-app">
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <div class="carrito-css mt-5 mb-2">
                        <h1 class="title bg-warning text-center ">PEDIDO:</h1>
                    </div>
                <thead>
                    <tr>
                    <th scope="col">Datos del Pedido</th>
                    <th scope="col">Datos del Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>ID:</td>
                    <td>{{ pedido.id }}</td>
                    </tr>
                    <tr>
                    <td>Usuario ID:</td>
                    <td>{{ pedido.usuario_id }}</td>
                    </tr>
                    <tr>
                    <td>Nombre:</td>
                    <td>{{ usuario.nombre }}</td>
                    </tr>
                    <tr>
                    <td>Dirección:</td>
                    <td>{{ usuario.direccion }}</td>
                    </tr>
                    <tr>
                    <td>Email:</td>
                    <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                    <td>Teléfono:</td>
                    <td>{{ usuario.telefono }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <p v-if="error" class="error">{{ error }}</p>
            <p v-if="cargando">Cargando datos...</p>
            <button class="btn btn-outline-warning" @click="borrarPedido" v-if="!cargando">Pedido Listo</button>
        </div>

        <div id="carrito-app">
            <div class="carrito-css mt-5 mb-2">
                <h1 class="title bg-warning text-center">PRODUCTOS DEL PEDIDO</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="producto in pedidos" :key="producto.id" >
                    <td >{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="separador"><p></p></div>

    </main>

    <footer id="footer-byterbar"> </footer >
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <!--Link de Bootstrap-->
  <script src="./js/navbar.js"></script>
  <script src="./js/footer.js"></script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--Siempre Va primero-->
  <script src="./js/pedidos.js"></script>

</body>

</html>
